.about-bg {
    background-color: var(--color-background-2);
    width: 100%;
    height: auto;
}

.about-box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-box {
    width: 650px;
}

.about-tittle {
    font-size: 1.5rem !important;
    font-weight: bolder;
    color: var(--color-text-4);
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

.about-box p {
    color: var(--color-text-4);
    margin-bottom: 1rem;
    font-size: 1.1rem;
    white-space: break-spaces;
    font-weight: 300;
}

.p-no-margin {
    margin-bottom: 0 !important;
}

.square {
    height: 150px;
    width: 250px;
    background-color: var(--color-text-2);
}

.square-img {
    width: 100px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}