.boxe-bg {
    width: 100%;
    height: auto;
    background: var(--color-text-2);
    color: var(--color-text-1);
}

.boxe-bg h1 {
    text-transform: uppercase;
    padding: 20px;
}

.img-boxe {
    max-width: 450px;
    height: 350px;
    object-fit: cover;
}

.margin-20 {
    margin-bottom: 20px;
}

.boxe-container {
    padding: 0px 20px 0px 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle-1 {
    text-align: start;
}

.boxe-container-2 {
    padding: 0px 20px 0px 20px !important;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    align-items: center;
}

.boxe-container-3 {
    padding: 0px 20px 20px 20px !important;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    align-items: center;
}

.tittle-2 {
    text-align: end;
}

.boxe-text {
    width: 200px;
}

.color-1 {
    color: var(--color-text-1);
    width: 50px;
    margin: 0 auto;
}

.boxe-text-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: start;
    text-transform: uppercase;
}

.boxe-text p, h5 {
    text-align: center;
}

@media (max-width: 900px) {
    .boxe-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .boxe-container-2 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .boxe-container-3{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .img-boxe {
        width: 600px;
    }
    .boxe-text {
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px) {
    .tittle-2 {
        text-align: start;
    }
    .img-boxe {
        width: 350px;
    }
    .boxe-text {
        margin-bottom: 2rem;
    }
}

@media (max-width: 360px) {
    .img-boxe {
        width: 300px;
    }
}