.boxe-bg {
    width: 100%;
    height: auto;
    background: var(--color-background-1);
    color: var(--color-text-1);
}

.boxe-bg h1 {
    text-transform: uppercase;
    padding: 20px;
}

img {
    max-width: 100%;
}

.img-boxe {
    width: 400px;
    border: 2px solid var(--color-text-1);
}

.boxe-container {
    padding: 0px 20px 20px 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle-1 {
    text-align: start;
}

.boxe-container-2 {
    padding: 0px 20px 20px 20px !important;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    align-items: center;
}

.tittle-2 {
    text-align: end;
}

.boxe-text {
    width: 200px;
}

.color-1 {
    color: #ebe708;
}

.color-2 {
    color: rgb(17, 248, 113);
}

.color-3 {
    color: rgb(14, 67, 240);
}

.boxe-text-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: start;
    text-transform: uppercase;
}

.boxe-text p, h5 {
    text-align: center;
}

@media (max-width: 900px) {
    .boxe-container {
        flex-wrap: wrap;
    }

    .img-boxe {
        width: 600px;
    }
    .boxe-text {
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px) {
    .boxe-text {
        margin-bottom: 2rem;
    }
}