.cards-bg {
    width: 100%;
    height: auto;
    background-color: var(--color-background-2);
}

.cards-tittle {
    font-size: 1.5rem !important;
    padding: 0px 20px 20px 0px;
    color: var(--color-text-4);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cards-box {
    display: flex;
    justify-content: space-between;
    padding-top: 0px !important;
}

.cards-text {
    width: 400px;
    padding: 15px 20px;
}

.cards-text h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-text-4);
    letter-spacing: 1px;
}

.cards-text p {
    color: var(--color-text-4);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .cards-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 550px) {
    .cards-text {
        width: 350px;
    }
}

@media (max-width: 360px) {
    .cards-tittle {
        font-size: 1.2rem !important;
    }
    .cards-text {
        width: 300px;
    }
}