.cite-bg {
    height: 400px;
    width: 100%;
    background-color: var(--color-text-2);
    position: relative;
}

blockquote {
    padding: 20px;
    color: var(--color-text-1);
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px black;
    font-size: 3rem;
    width: 800px;
}

blockquote::after {
    content: '”';
    font-size: 8rem;
    color: var(--color-text-1);
    position: absolute;
}

blockquote::before {
    content: '“';
    font-size: 8rem;
    left: -20px;
    top: -5px;
    color: var(--color-text-1);
    position: absolute;
}

.ippo-background {
    width: 300px;
    display: block;
    margin: 0 auto;
    z-index: 4;
}

@media (max-width: 550px) {
    blockquote {
        font-size: 1.2rem;
        width: 350px;
    }
    blockquote::before {
    content: '“';
    font-size: 3rem;
    left: 2px;
    top: 10px;
    color: var(--color-text-1);
    position: absolute;
    }
    blockquote::after {
    content: '”';
    font-size: 3rem;
    color: var(--color-text-1);
    position: absolute;
    right: 25px;
    }
}