.info-bg {
    height: auto;
    width: 100%;
    background: var(--color-background-1);
}

.box-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
}

img {
    max-width: 100%
}

.info-img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    z-index: 2;
}

.info-text-box {
    background: var(--color-background-2);
    color: var(--color-text-4);
    font-size: 16px;
    text-align: center;
    z-index: 999;
    width: 350px;
    height: 250px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-text h2 {
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.info-text p {
    margin-bottom: 0.5rem;
}

.btn-info {
    color: var(--color-text-4);
    padding: 5px;
    text-decoration: none;
    border-bottom: 2px solid var(--color-text-4);
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-info:hover {
    transition: 0.5s;
    color: var(--color-text-2);
    border-bottom: 2px solid var(--color-text-2);
}

@media (max-width: 900px) {
    .box-info {
        flex-wrap: wrap;
    }
}

@media (max-width: 550px) {
    .info-text-box {
        width: 300px;
        height: 250px;
        font-size: 12px;
    }
}