@font-face {
    src: url(../fonts/I\ AM\ A\ PLAYER.ttf);
    font-family: 'Player-Regular';    
    font-weight: normal;
} 

.main-hall-bg {
    width: 100%;
    height: auto;
    background: var(--color-text-1);
}

.main-hall-bg h1 {
    color: var(--color-text-4);
    text-transform: uppercase;
}

.hall-cards-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hall-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hall-cards img {
    margin-top: 20px;
    object-fit: cover;
    height: 350px;
    width: 350px;
}

.hall-card-about {
    height: auto;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    width: 350px;
    background: #111;
    color: var(--color-text-1);
}

.hall-card-about p {
    line-height: 20px;
    font-family: "Player-Regular";
    letter-spacing: 2px;
}

.hall-card-record {
    height: auto;
    padding: 20px 20px 10px 20px;
    text-transform: uppercase;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.hall-card-record p {
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: bolder;
}

.record {
    position: relative;
}

.record::before {
    content: 'record';
    color: var(--color-text-4);
    font-weight: 400;
    font-family: "Player-Regular";
    letter-spacing: 2px;
    position: absolute;
    font-size: 12px;
    top: -11px;
    left: 2px;
}

.kos {
    position: relative;
}

.kos::before {
    content: 'KOS';
    color: var(--color-text-4);
    font-weight: 400;
    font-family: "Player-Regular";
    letter-spacing: 2px;
    position: absolute;
    font-size: 12px;
    top: -11px;
    left: 2px;
}

.hall-card-stats {
    height: auto;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    color: var(--color-text-4);
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    width: 350px;
}

.hall-card-stats p {
    margin-bottom: 12px;
    font-weight: lighter;
    font-family: "Player-Regular";
}

.p-weight {
    position: relative;
}

.p-weight::before {
    content: '134.5 lbs (60.91 kg)';
    color: var(--color-text-4);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    font-size: 12px;
    left: 100px;
    top: 3px;
}

.p-age {
    position: relative;
}

.p-age::before {
    content: '28';
    color: var(--color-text-4);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    font-size: 12px;
    left: 100px;
    top: 3px;
}

.p-home {
    position: relative;
}

.p-home::before {
    content: 'USA, Baltimore, Maryland';
    color: var(--color-text-4);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    font-size: 12px;
    white-space: nowrap;
    left: 100px;
    top: 2px;
}

@media (max-width: 1100px) {
    .hall-cards-box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 560px) {
    .main-hall-bg h1 {
        font-size: 1.3rem;
    }
}
