.main-bg {
    height: 80vh;
    width: 100%;
    background-image: url(../img/background3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-box {
    font-size: 3rem;
    color: var(--color-text-1);
    text-shadow: 2px 2px 5px black;
    position: relative;
    left: 3.3%;
    top: 50%;
    transform: translateY(-50%);
}

.sb-span {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 9;
    position: relative;
}

.sb-span::before {
    display: none !important;
    content: '';
    display: block;
    width: 320px;
    height: 7px;
    background: var(--color-text-2);
    position: absolute;
    top: 35px;
    left: -5px;
    z-index: -1;
}

.main-box h1 {
    text-transform: uppercase;
}

.main-box p {
    font-size: 2rem;
    position: relative;
}

.main-box p::before {
    content: '';
    display: none;
    width: 345px;
    height: 15px;
    background: var(--color-text-2);
    position: absolute;
    top: 25px;
    left: -5px;
    z-index: -1;
}

@media (max-width: 650px) {
    .main-bg h1 {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    .sb-span{
        font-size: 1.5rem;
    }
    .main-box h1 {
        font-size: 2.2rem;
    }
    .main-box p {
        font-size: 1.5rem;
    }
}