.motivos-bg {
    width: 100%;
    height: auto;
    background-color: var(--color-background-2);
}

.motivos-tittle {
    font-size: 1.5rem !important;
    padding: 0px 20px 20px 0px;
    color: var(--color-text-3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.motivos-box {
    display: flex;
    justify-content: space-between;
}

.motivos-text {
    padding: 15px 30px;
    width: 400px;
    height: auto;
    background-color: var(--color-background-2);
    border: 2px solid var(--color-text-2);
}

.motivos-text h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-text-4);
    letter-spacing: 1px;
}

.motivos-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text-4);
    font-weight: 300;
}

@media (max-width: 900px) {
    .motivos-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .motivos-text h2 {
        font-size: 1.2rem;
    }
    .motivos-text {
        width: 300px;
        border: 1px solid var(--color-text-2);
    }
}