.offers-bg {
    background: var(--color-text-2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 400px;
    width: 100%;
}

.square-offers-box {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.square-offers-1 {
    top: 10px;
    position: relative;
    width: 250px;
    display: block;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.459);
    z-index: 9999;
}

.square-offers-2 {
    width: 300px;
    height: 150px;
    display: block;
    background-color: rgba(39, 39, 37, 0.377);
    z-index: 1;
}

.square-offers-text {
    color: rgb(235, 235, 235);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}