/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* css */
@import url(header.css);
@import url(main.css);
@import url(about.css);
@import url(mt-section.css);
@import url(boxe.css);
@import url(ct-info.css);
@import url(slider.css);
@import url(offers.css);
@import url(cite.css);
@import url(equipment.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --color-background-1: #202020;
    --color-background-2: #ffffff;

    --color-text-1: #ffffff;
    --color-text-2: #631f63;
    --color-text-3: #1c1c1c;
    --color-text-4: #353535;
}


html {
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

strong {
    color: var(--color-text-2);
}

.fade-effect {
    background-color: transparent;
    background-image: linear-gradient(90deg,#000000 43%,rgba(255,255,255,.1) 100%);
    opacity: .8;
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s;
}