/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* css */
@import url(header.css);
@import url(main.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}