@font-face {
    src: url(../fonts/I\ AM\ A\ PLAYER.ttf);
    font-family: 'Player-Regular';    
    font-weight: normal;
}

.workout-bg {
    height: auto;
    width: 100%;
    background-color: var(--color-background-2);
}

.workout-box {
    display: flex;
    gap: 20px;
    position: relative;
}

.workout-bg img {
    display: block;
    object-fit: cover;
}

.workout-img-1 {
    width: 450px;
    height: 542px;
}

.workout-text-box {
    display: flex;
    gap: 20px;
}

.info-text-box {
    background: var(--color-text-2);
    color: var(--color-text-1);
    font-size: 16px;
    text-align: center;
    width: 413px;
    height: 261px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.workout-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 461px;
    height: 261px;
    padding: 20px;
    background: #612E6C;
    color: var(--color-text-2);
}

.workout-text span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #fff;
    font-style: italic;
}

.workout-text h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text-1);
    text-transform: uppercase;
}

.workout-btn {
    border: none;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    display: inline-block;
    background: var(--color-text-2);
}

.workout-btn:hover {
    transition: 0.4s;
    background: #fff;
    color: #612E6C;
}

.workout-img-2 {
    width: 546px;
    height: 261px;
}

.workout-imgs-box {
    display: flex;
    gap: 20px;
}

.workout-square-bg {
    background: var(--color-text-2);
    width: 490px;
    height: 261px;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-square-text {
    text-align: center;
    padding: 20px;
}

.workout-square-text h4 {
    text-transform: uppercase;
}

.workout-square-text p {
    color: #d3d3d3;
    text-align: center;
}

@media (max-width: 900px) {
    .workout-bg img {
        width: 100%;
    }
    .workout-box {
        flex-wrap: wrap;
    }
    .workout-text-box {
        flex-direction: column;
    }
    .workout-text {
        align-items: center;
    }
    .workout-text, .info-text-box, .workout-square-bg {
        width: 100%;
    }
    .workout-imgs-box {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .workout-text h2 {
        font-size: 1.5rem;
        white-space: nowrap;
    }
    .workout-box {
        flex-wrap: wrap;
    }
    .workout-text {
        margin-top: 0px;
    }
    .workout-text span {
        font-size: 1rem;
    }
    .workout-imgs-box {
        flex-wrap: wrap;
    }
    .workout-img-2 {
        width: 350px;
    }
}

@media (max-width: 478px) {
    .workout-text h2, .info-text-box {
        font-size: 1rem;
    }
}

@media (max-width: 395px) {
    .workout-text h2, .info-text-box {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .workout-text span {
        font-size: 12px;
    }
    .workout-img-2 {
        width: 300px;
    }
}